name: Build and publish

on:
  push:
    branches:
      - '**'

jobs:
  build-and-publish:
    uses: navikt/hag-workflows/.github/workflows/build-and-publish.yml@main
    permissions:
      packages: write
